

    label {
      clear: left;
      display: block;
      float: left;
      text-align: right;
    }

    .well{
      overflow: auto;
    }

    .center {
    text-align: center;
    }

   .pagination {
      display: inline-block;
   }

   .pagination a {
       color: black;
       float: left;
       padding: 8px 16px;
       text-decoration: none;
       transition: background-color .3s;
       border: 1px solid #ddd;
       margin: 0 4px;
   }

   .pagination a.active {
       background-color: #4CAF50;
       color: white;
       border: 1px solid #4CAF50;
   }

   .pagination a:hover:not(.active) {background-color: #ddd;}

   .row{
    text-align: left;
   }

   .navbar-inverse{
      background-color: #2F4F4F;
      height: 80px;
      color: white;
   }
   .gap-class {
margin-bottom:5px;
border-bottom-color: black;
}
.job-info{
    border-style: solid;
    border-width: 100%;
}
*/

.navbar{
  border-radius:0;
  -webkit-border-radius:0; 
  -moz-border-radius: 0; 
}


.navbar-brand img{
    width:70px;
    height: auto;
}

.job-form{
  border: 1px solid #ccc;
    margin: 15px;
    padding: 15px 0 0;
}

.checkbox label{
  display: block;
}

.job-wrapper{
  border:1px solid #cccccc;
}

.job-content{
  border-bottom: 1px solid #ccc;
  padding:10px;
  display: table;
  width:100%;

}

li.job-content:last-child{
  border-bottom: 0;
}

ul{
  padding:0;
}

.job-content p{
  margin:0;
  line-height: 22px;
  
}

.job-details{
  display:table-cell;
  padding-left: 10px;
  padding-bottom: 10px;

}

.job-image{
  display:table-cell;
  vertical-align: bottom;
  float: none;

}

.job-title{
  margin:10px 0;
  line-height: 30px;
}

select{
  width:100%;
  padding:5px;
}

.site-image{
  height: 20px;
}

 .suggest-info{
  font-size: 18px;
  text-align: center;
  color: black;
 }

 .jobHeader{
  font-size: 20px;
  color: black;
 }
@media screen and (max-width: 767px){
  .navbar-brand img{
    width:70px;
    height: auto;
  }
}